/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding-block: 100px;
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

/* header */
.header {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-block-end: 100px;
}

.header__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: var(--header-card-height);
  border: 2px solid #000;
  font-family: var(--accent-font), fantasy, "Courier New", Courier, monospace;
  font-weight: var(--regular-weight);
  background-color: #fff;
  inline-size: var(--card-width);
}

.header__title {
  font-weight: var(--regular-weight);
  font-size: clamp(
    49px,
    43.37px + 1.5vw,
    65px
  ); /* 49px, viewport: 375px -> 65px, viewport: 1440px */
}

.header__subtitle {
  font-weight: var(--regular-weight);
  font-size: clamp(
    14px,
    10.83px + 0.85vw,
    23px
  ); /* 14px, viewport: 375px -> 23px, viewport: 1440px */
  text-transform: uppercase;
}

/* main */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  background-color: #fff;
  inline-size: var(--card-width);
}

.card__container-img {
  position: relative;
  display: flex;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.card__img {
  /* width: clamp(23.1875rem, 16.04rem + 30.52vw, 43.5rem);
  height: clamp(23.1875rem, 16.04rem + 30.52vw, 43.5rem); */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.card__label {
  position: absolute;
  opacity: 0.5;
  font-family: var(--accent-font), fantasy, "Courier New", Courier, monospace;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
    -1px 0 #fff,
    0 1px #fff,
    1px 0 #fff,
    0 -1px #fff;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

.card__title {
  width: 100%;
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--title-weight);
}

.card__text {
  margin: 25px 25px 0;
  font-size: 18px;
  line-height: 117%;
}

.card_button-container {
  display: flex;
  justify-content: end;
  gap: 5px;
  padding: 25px;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  background: none;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: #000;
}

.like-icon {
  display: block;
  transform-origin: center;
}

.like-icon .heart {
  transform-origin: center;
}

/* animation icon-heart */

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: clickHeart 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: clickSparks 0.3s 0.3s 1 ease-in;
}

/* animation icon-heart end*/

.card__like-button {
  padding-block: 10.5px;
  min-inline-size: 130px;
}

.button {
  position: relative;
  z-index: 1;
  border: 2px solid #000;
  color: #fff;
  background: #fff;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::after {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 #000;
}

.button__text {
  position: relative;
  z-index: 2;
  display: block;
  font-family: var(--accent-font), fantasy, "Courier New", Courier, monospace;
  font-weight: var(--regular-weight);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.save-button svg {
  position: relative;
  z-index: 2;
  block-size: 1.5em;
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }
}

/*pop-up window */

.pop-up {
  display: grid;
  grid-template-columns: min-content 234px;
  grid-template-rows: 1fr min-content;
  row-gap: 30px;
  column-gap: 20px;
  border: 2px solid #000;
  padding: 28px;
  max-inline-size: clamp(21.8125rem, 23.67rem + -2.07vw, 23.1875rem);
}

.pop-up:not([open]) {
  display: none;
}

@media (width <= 375px) {
  .pop-up {
    grid-template-columns: min-content 202px;
    padding: 28px 38px;
  }
}

.pop-up::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.pop-up__title {
  font-family: var(--accent-font), fantasy, "Courier New", Courier, monospace;
  font-weight: var(--regular-weight);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.pop-up svg {
  align-self: center;
  block-size: 39px;
  inline-size: 39px;
}

.pop-up__button {
  grid-column: span 2;
  padding-inline: clamp(7.15625rem, 6.8rem + 1.5vw, 8.15625rem);
  padding-block: 10.5px;
}

.pop-up .button__text {
  text-transform: uppercase;
}

/* image filter */

.grayscale_filter {
  filter: grayscale(0.8);
}

.saturate_filter {
  filter: saturate(300%);
}

.hue-rotate_filter {
  filter: hue-rotate(30deg);
}

.invert_filter {
  filter: invert(0.8);
}

.sepia_filter {
  filter: sepia(80%);
}

.blur_filter {
  filter: blur(1.3rem);
}

.hue-rotate_blur_contrast_filter {
  filter: hue-rotate(90deg) blur(2px) contrast(60%);
}
