
:root {
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";
  --regular-weight: 400;
  --title-weight: 715;
  --text-weight: 410;
  --bg-gradient:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  --card-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  --header-card-height: clamp(20.4375rem, 19.54rem + 3.85vw, 23rem); 
  --contour-color: #000;
  --animation-fill-color: #ff0000;
}
